#souv-image {
  object-fit: contain;
}

.souv-card {
  text-align: center;
}

.notAvail {
  opacity: 0.75;
}

.card{
  .grow {
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
}
