@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

@mixin title-font($fontsize) {
  font-size: $fontsize;
  font-family: 'Fondamento', cursive;
  text-align: center;
  color: #455f48ff;
  text-shadow: 1px 1px #646b61ff;
}

@mixin card-headers($fontsize) {
  font-size: $fontsize;
  font-weight: 700;
  font-family: 'Cinzel', cursive;
  text-align: center;
  color: #455f48ff;
}
