@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';


body {
  background-color: #f7e8a4ff;
}

h1 {
  @include title-font(50px);
}

.fab {
  color: #a44200ff;
}

.btn-danger {
  background-color: #a44200ff;
  border: none !important;
}

.hide {
  display: none;
}

.navbar {
  background-color: rgb(144, 153, 140) !important;
}
