@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';


body {
  // background-color: #f7e8a4ff;
  background: url("https://cdn.hipwallpaper.com/m/7/78/46n0xh.jpg") no-repeat;
  background-size: cover;
}

h1 {
  @include title-font(50px);
}

h2 {
  @include title-font(30px);
  margin: 20px;
}

h5 {
  @include card-headers(20px);
}

.fab {
  color: #a44200ff;
}

#test-home {
  color: #a44200ff;
  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Cinzel', cursive;
}

.btn-danger {
  background-color: #a44200ff;
  border: none !important;
}

.hide {
  display: none;
}

.navbar {
  background-color: rgba(0,0,0,0.8) !important;
}
