@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'David Libre', serif;
  font-weight: 500;
  font-size: 1.2em;
}

.colored {
  background-color: #a44200ff
}

#add-food {
  margin: 20px;
}

table.table-bordered{
  border:1px solid #646b61ff!important;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid #646b61ff!important;
}
table.table-bordered > tbody > tr > td{
  border:1px solid #646b61ff!important;
}

.table th{
  border:1px solid #646b61ff!important;
}


.btn-dark, #add-food {
  background-color: #646b61ff !important;
  border: none;
  font-family: 'David Libre', serif;
}

form {
  font-family: 'David Libre', serif;
  font-size: 1.2em;
}
